<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RiotAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RiotAPI.Properties.Settings>
            <setting name="saveChkBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveSummonerName" serializeAs="String">
                <value />
            </setting>
            <setting name="saveRegion" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="saveAPI" serializeAs="String">
                <value>701861ef-5e64-4c90-af18-fced09acb770</value>
            </setting>
            <setting name="summonerID" serializeAs="String">
                <value />
            </setting>
        </RiotAPI.Properties.Settings>
    </userSettings>
</configuration>